@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif !important;
    background-color: rgb(241 248 254);
    /* background-color: #ffffff; */
}

.form-select,
.form-select option,
select option {
    text-transform: capitalize !important;
}

 

.logo {
    font-weight: 700;
    color: aquamarine;
    text-shadow: 1px 1.5px #16c2e0;
}

.logo:hover {
    color: aquamarine !important;
}

