<style>
    .bg-primary {
        background: linear-gradient(40deg, #ffd86f, #fc6262) !important;
    }
</style>

{% load static %}
<!-- Feacture Section -->

<section class="container pt-4 pb-5 py-lg-5" id="features">
    <h2 class="h1 text-center pt-1 pt-md-3 pt-lg-4 pb-3 pb-md-4 mb-0 mb-lg-3">Features</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2 g-lg-3 g-xl-4 pb-md-3 pb-lg-5">
        <!-- Item 1 -->
        <div class="col" id="card">
            <div class="card h-100 bg-transparent border-1 card-hover ">
                <div class="feature bg-primary rounded-3 w-auto lh-1 p-2 mt-4 ms-4 me-auto">
                    <i class="fa-solid fa-refresh fs-2 text-gradient-primary text-light" style="padding: .375rem;"></i>
                </div>
                <div class="card-body">
                    <h3 class="h6">PDF to JPG</h3>
                    <p class="fs-sm mb-0">
                        This PDF to JPG converter allows you to convert PDF to JPG, thus turning your PDF text document into the popular raster image format.
                    </p>
                </div>
            </div>
        </div>


        <!-- Item 2 -->
        <div class="col" id="card">
            <div class="card h-100 bg-transparent border-1 card-hover">
                <div class="feature bg-primary rounded-3 w-auto lh-1 p-2 mt-4 ms-4 me-auto">
                    <i class="fa-solid fa-camera-retro fs-2 text-gradient-primary text-light"
                      style="padding: .375rem;"></i>
                </div>
                <div class="card-body">
                    <h3 class="h6">Image converter</h3>
                    <p class="fs-sm mb-0">
                        Here, you can find an image converter for your needs, for example, a PDF to image converter.
                    </p>
                </div>
            </div>
        </div>


        <!-- Item 3 -->
        <div class="col" id="card">
            <div class="card h-100 bg-transparent border-1 card-hover">
                <div class="feature bg-primary rounded-3 w-auto lh-1 p-2 mt-4 ms-4 me-auto">
                    <i class="fa-solid fa-film fs-2 text-gradient-primary text-light" style="padding: .375rem;"></i>
                </div>
                <div class="card-body">
                    <h3 class="h6">Filters</h3>
                    <p class="fs-sm mb-0">
                        Starting with our Cartoonizer, we've grown our library of filters extensively, empowering you to achieve your creative vision. 
                    </p>
                </div>
            </div>
        </div>


        <!-- Item 4 -->
        <div class="col" id="card">
            <div class="card h-100 bg-transparent border-1 card-hover">
                <div class="feature bg-primary rounded-3 w-auto lh-1 p-2 mt-4 ms-4 me-auto">
                    <i class="fa-solid fa-folder fs-2 text-gradient-primary text-light" style="padding: .375rem;"></i>
                </div>
                <div class="card-body">
                    <h3 class="h6">Effect</h3>
                    <p class="fs-sm mb-0">
                        We have a wide selection of features that'll take you from photo to art, filters to fit a certain aesthetic, an assortment of A.I. tools for one-click simplicity, and everything in between.
                    </p>
                </div>
            </div>
        </div>


        <!-- Item 5 -->
        <div class="col" id="card">
            <div class="card h-100 bg-transparent border-1 card-hover">
                <div class="feature bg-primary rounded-3 w-auto lh-1 p-2 mt-4 ms-4 me-auto">
                    <i class="fa-solid fa-file fs-2 text-gradient-primary text-light" style="padding: .375rem;"></i>
                </div>
                <div class="card-body">
                    <h3 class="h6">Painting Filter</h3>
                    <p class="fs-sm mb-0">
                        With our painting filter, transform your photos into beautiful paintings in one click. ImaGen has a wide variety of painting filters, including oil painting filters, watercolor photo filters, and Gouache filters. Spark your idea here!
                    </p>
                </div>
            </div>
        </div>

        <!-- Item 6 -->
        <div class="col" id="card">
            <div class="card h-100 bg-transparent border-1 card-hover">
                <div class="feature bg-primary rounded-3 w-auto lh-1 p-2 mt-4 ms-4 me-auto">
                    <i class="fa-solid fa-barcode fs-2 text-gradient-primary text-light" style="padding: .375rem;"></i>
                </div>
                <div class="card-body">
                    <h3 class="h6">Black and White Filter</h3>
                    <p class="fs-sm mb-0">
                        Bring your photos to monochrome with our black and white filter. Single color makes people focus on your photo's content. Use ImaGen's black and white filter to create a strong visual contrast and leave a deep impression on your viewer.
                    </p>
                </div>
            </div>
        </div>


        <!-- Item 7 -->
        <div class="col" id="card">
            <div class="card h-100 bg-transparent border-1 card-hover">
                <div class="feature bg-primary rounded-3 w-auto lh-1 p-2 mt-4 ms-4 me-auto">
                    <i class="fa-solid fa-fire fs-2 text-gradient-primary text-light" style="padding: .375rem;"></i>
                </div>
                <div class="card-body">
                    <h3 class="h6">Document converter</h3>
                    <p class="fs-sm mb-0">
                        Our free document converter selection that allows you to convert Word to PDF, JPG to PDF any many more.
                    </p>
                </div>
            </div>
        </div>

        <!-- Item 8 -->
        <div class="col" >
            <div class="card h-100 bg-transparent border-1 card-hover" >
                <div class="feature bg-primary rounded-3 w-auto lh-1 p-2 mt-4 ms-4 me-auto">
                    <i class="fa-solid fa-thumbs-up fs-2 text-gradient-primary text-light"
                      style="padding: .375rem;"></i>
                </div>
                <div class="card-body">
                    <h3 class="h6">Aesthetic Filter</h3>
                    <p class="fs-sm mb-0">
                        Applying aesthetic filters to your pictures is a great way to take your Instagram to the next level. It allows you to create a style that is uniquely yours. Open ImaGen, explore more aesthetic filters.
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>