{% load static %}

<style>
  .text-reset {
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    color: rgba(1, 41, 112, 0.5);
    line-height: 0;
    margin-right: 10px;
    transition: 0.3s ease;
  }

  .text-reset:hover {
    color: #012970 !important;
  }
</style>
<!-- Footer section -->
<footer
  class="py-8 py-md-11 bg-gray-200 mb-3 mt-5"
  style="font-family: Nunito, sans-serif"
  id="footer"
>
  <!-- <footer class="py-8 py-md-11 bg-gray-200 mb-3" style="background-color: #f1f4f8; font-family:  Nunito, sans-serif;" > -->
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3">
        <!-- Brand -->
        <img
          src="{% static 'logos/logo.png' %}"
          alt="..."
          class="footer-brand img-fluid mb-2"
        />

        <!-- Text -->
        <p class="text-gray-700 mb-2">Feel free to creativity 🚀</p>

        <!-- Social -->
        <ul class="list-unstyled list-inline list-social mb-6 mb-md-0">
          <li class="list-inline-item list-social-item me-3">
            <a href="#" class="text-decoration-none">
              <img
                src="{% static 'logos/instagram.svg' %}"
                class="list-social-icon"
                alt="..."
              />
            </a>
          </li>
          <li class="list-inline-item list-social-item me-3">
            <a href="#" class="text-decoration-none">
              <img
                src="{% static 'logos/facebook.svg' %}"
                class="list-social-icon"
                alt="..."
              />
            </a>
          </li>
          <li class="list-inline-item list-social-item me-3">
            <a href="#" class="text-decoration-none">
              <img
                src="{% static 'logos/twitter.svg' %}"
                class="list-social-icon"
                alt="..."
              />
            </a>
          </li>
          <li class="list-inline-item list-social-item">
            <a href="#" class="text-decoration-none">
              <img
                src="{% static 'logos/pinterest.svg' %}"
                class="list-social-icon"
                alt="..."
              />
            </a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <!-- Heading -->
        <h6 class="fw-bold text-uppercase text-gray-700">Products</h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
          <li class="mb-3">
            <a href="{% url 'colorize_filter' %}" class="text-reset"> Colorize Filter </a>
          </li>
          <li class="mb-3">
            <a href="{% url 'image_convert' %}" class="text-reset"> Convert Image</a>
          </li>
          <li class="mb-3">
            <a href="{% url 'image_flip' %}" class="text-reset"> Flip Image </a>
          </li>
          <li class="mb-3">
            <a href="{% url 'image_quality' %}" class="text-reset"> Reduce Image Quality </a>
          </li>
          <li class="mb-3"> 
            <a href="{% url 'image_rotate' %}" class="text-reset"> Rotate Image </a>
          </li>
          <li class="mb-3"> 
            <a href="{% url 'image_pdf' %}" class="text-reset"> Image 2 PDF </a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <!-- Heading -->
        <h6 class="fw-bold text-uppercase text-gray-700">Services</h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
          <li class="mb-3">
            <a href="#welcome" class="text-reset"> Welcome </a>
          </li>
          <li class="mb-3">
            <a href="#features" class="text-reset"> Features </a>
          </li>
          <li class="mb-3">
            <a href="#information" class="text-reset"> Information </a>
          </li>
          <li class="mb-3">
            <a href="#photo" class="text-reset"> Photo Examples </a>
          </li>
          <li class="mb-3">
            <a href="#next" class="text-reset"> How to Use? </a>
          </li>
          
        </ul>
      </div>
      <div class="col-6 col-md-4 offset-md-4 col-lg-2 offset-lg-0">
        <!-- Heading -->
        <h6 class="fw-bold text-uppercase text-gray-700">Connect</h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-0">
          <li class="mb-3">
            <a href="#subscribe" class="text-reset"> Subscribe Newsletter</a>
          </li>
          <li class="mb-3">
            <a href="#" class="text-reset"> Feedback </a>
          </li>
          <li class="mb-3">
            <a href="{% url 'login' %}" class="text-reset"> Login </a>
          </li>
          <li class="mb-3">
            <a href="{% url 'signup' %}" class="text-reset"> Signup </a>
          </li>
           
         
        </ul>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <!-- Heading -->
        <h6 class="fw-bold text-uppercase text-gray-700">Text Tools</h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-0">
          <li class="mb-3">
            <a href="{% url 'qr_gen' %}" class="text-reset"> QR Code Generator </a>
          </li>
          
        </ul>
      </div>
    </div>
    <!-- / .row -->
    <div class="row">
      <div class="pt-5 mt-lg-3 mt-xl-4 text-center">
        <p class="text-muted mb-0">
          ©2023 All rights reserved. Made with by
          <i class="fa fa-heart bg-gradient-light text-dark mt-1 mx-1"></i>

          <a href="#" class="text-muted" target="_blank" rel="noopener">
            ImaGen</a
          >
        </p>
      </div>
    </div>
  </div>
  <!-- / .container -->
</footer>
