{% load static %}

<style>
  

  .hero3 h1 {
    color: rgb(71, 68, 68) !important;
  }

  .hero3 p {
    color: rgb(71, 68, 68) !important;
  }
</style>

<!-- Hero3 Section -->
<section class="hero3 d-flex align-items-center my-5" id="hero3">
  <div class="container">
    <!-- Row 1  -->
    <div class="row my-5">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1>
          Explore Our Vast Library of Photo Effects
        </h1>
        <p class="lh-lg">
          Keeping up with modern trends, including memes and social media designs, Fotor offers a great number of possibilities for creating any kind of perfect image, with suitable photo effects and filters to make your images stand out. Here are some popular photo filters you can use.
        </p>
        <div data-aos="fade-up" data-aos-delay="600" class="aos-init aos-animate mt-5">
          <div class="text-center text-lg-start">

            <a href="#"  
              class="btn btn-hero btn-lg rounded-2 d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Learn more</span>&nbsp;&nbsp;<i class="fa fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img aos-init aos-animate" data-aos="zoom-out" data-aos-delay="200">
        <!-- <img src="{% static 'images/hero1.png' %}" class="img-fluid" alt="" /> -->
        <img src="{% static 'images/pg3.png' %}" class="img-fluid" alt="" />
      </div>
    </div>
    <!-- Row 2  -->
    <div class="row my-5 flex-row-reverse">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1> 
          Photo Filters for All Seasons
        </h1>
        <p class="lh-lg ls-lg">
          Through an advanced and often painstaking process, Fotor designs new photo effects, ranging from Light Saturation, Lomo, Tilt-Shift and Color Splash to provide you the most comprehensive editing experience. Mosaic and Blur photo effect are used to highlight and contrast while Cool and Funky effects can spice up even the most mundane image. With some covering professional photography and others to have fun with, you can let your imagination run wild with Fotor's amazing effects.
        </p>
        <div data-aos="fade-up" data-aos-delay="600" class="aos-init aos-animate mt-5">
          <div class="text-center text-lg-start">

            <a href="#"  
              class="btn btn-hero btn-lg rounded-2 d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Learn more</span>&nbsp;&nbsp;<i class="fa fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img aos-init aos-animate" data-aos="zoom-out" data-aos-delay="200">
        <!-- <img src="{% static 'images/hero2.png' %}" class="img-fluid" alt="" /> -->
        <img src="{% static 'images/pg2.png' %}" class="img-fluid" alt="" />
      </div>
    </div>


    <!-- Row 3  -->
    <div class="row my5">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 >
          Amazing Photo Effects
        </h1>
        <p class="lh-lg">
          Fotor's photo effects can easily meet all your editing needs, inspired by different visual styles! All of our exclusive and amazing photo filters have been developed by talented designers here at Fotor. Turning your images into beautiful shots with online photo effects in one click, Fotor is your magic wand.

        </p>
        <div data-aos="fade-up" data-aos-delay="600" class="aos-init aos-animate mt-5">
          <div class="text-center text-lg-start">
            <a href="#"   
              class="btn btn-hero btn-lg rounded-2 d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Learn more</span>&nbsp;&nbsp;<i class="fa fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img aos-init aos-animate" data-aos="zoom-out" data-aos-delay="200">
        <!-- <img src="{% static 'images/hero6.png' %}" class="img-fluid" alt="" /> -->
        <img src="{% static 'images/pg1.png' %}" class="img-fluid" alt="" />
      </div>
    </div>

  </div>
</section>