{% load static %}
<style>
  .hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: #012970;
    
    line-height: 1.2;
    transition-property: opacity, transform;
  }

  .hero h2 {
    color: #444444;
    margin: 15px 0 0 0;
    font-size: 26px;

    font-family: "Nunito", sans-serif;

    transition-property: opacity, transform;
  }
</style>

<!-- Hero1 Section -->
<section id="hero" class="hero d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up" class="aos-init aos-animate">
          Welcome to
          <span style="color: rgba(1, 41, 112, 0.5)">ImaGen</span> Develop
          anything.
        </h1>
        <!-- <h1 data-aos="fade-up" class="aos-init aos-animate">We offer modern solutions for growing your business</h1> -->
        <h2
          data-aos="fade-up"
          data-aos-delay="400"
          class="aos-init aos-animate"
        >
          We are team of talented designers making websites with Bootstrap
        </h2>
        <div
          data-aos="fade-up"
          data-aos-delay="600"
          class="aos-init aos-animate mt-5"
        >
          <div class="text-center text-lg-start">
            <a
              href="#about"
              class="btn btn-primary btn-lg rounded-2 fw-bold d-inline-flex align-items-center justify-content-center align-self-center"
            >
              <span>Get Started</span>&nbsp;&nbsp;<i
                class="fa fa-arrow-right"
              ></i>
            </a>
            <a
              href="#about"
              style="
                background-color: rgba(51, 94, 234, 0.1);
                color: #335eea;
                border-color: transparent !important;
              "
              class="btn btn-primary btn-lg rounded-2 d-inline-flex align-items-center justify-content-center align-self-center mx-2"
            >
              Documentation
            </a>
          </div>
        </div>
      </div>
      <div
        class="col-lg-6 hero-img aos-init aos-animate"
        data-aos="zoom-out"
        data-aos-delay="200"
      >
        <img
          src="{% static 'images/hero-img.png' %}"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
