{% load static %}
<style>
  .hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: #012970;
    
    line-height: 1.2;
    transition-property: opacity, transform;
  }

  .hero h2 {
    color: #444444;
    margin: 15px 0 0 0;
    font-size: 26px;
    font-family: "Nunito", sans-serif;
    transition-property: opacity, transform;
  }
</style>

<!-- Hero2 Section -->
<section id="information" class="hero2 d-flex align-items-center" >
   

  <div class="container my-5">
    <div
      class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-sm"
    >
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">Information</h1>
        <p class="lead">
          This free online file converter lets you convert media easy and fast
          from one format to another. We support a lot of different source
          formats, just try. If you can't find the conversion you need, please
          let us know and write us an e-mail. We probably can help you...
        </p>
        <div
          class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3"
        >
          <a
            href="#services"
            type="button"
            class="btn btn-primary btn-lg px-4 me-md-2 fw-bold"
          >
            How to Use? &nbsp; <li class="fa fa-arrow-right"></li>
          </a>
          <a href="#hero3" class="btn btn-outline-secondary btn-lg px-4">
            Filter Collections
          </a>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-sm">
        <img
          class="rounded-lg-3"
          src="{% static 'images/hero5.jpg' %}"
          
          alt=""
          width="720"
        />
      </div>
    </div>
  </div>

</section>
 
