{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
  <div class="container">
    <!-- <a class="navbar-brand logo" href="#">ImaGen</a> -->
    <a class="navbar-brand" href="{% url 'home' %}" >
      <img width="100px" src="{% static 'logos/logo.png' %}" alt="ImaGen">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
            <i class="fa-solid fa-images"></i> &nbsp; Filter
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{% url 'image_filter' %}?action=colorized">Colorized</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'image_filter' %}?action=grayscale">Grayscale</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'image_filter' %}?action=blurred">Blurred</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'image_filter' %}?action=binary">Binary</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'image_filter' %}?action=invert">Invert</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown ml-2">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-refresh"></i> &nbsp; Convert
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{% url 'image_convert' %}?action=png">Image to PNG</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'image_convert' %}?action=jpg">Image to JPG</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'image_convert' %}?action=jpeg">Image to JPEG</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'image_convert' %}?action=webp">Image to WEBP</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'image_convert' %}?action=svg">Image to SVG</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'image_quality' %}">
            <i class="fa-solid fa-arrow-down-wide-short"></i>
                    &nbsp; Quality</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'qr_gen' %}">
            <i class="fa-solid fa-qrcode"></i>
                    &nbsp; QR Generator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'image_rotate' %}">
            <i class="fa-solid fa-camera-rotate"></i>
                    &nbsp; Rotate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'tempa' %}">
            <i class="fa-solid fa-trash"></i>
                    &nbsp; Temp</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'image_pdf' %}">
            <i class="fa-solid fa-file-pdf"></i>
                    &nbsp; PDF</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'colorized_filter' %}">
            <i class="fa-solid fa-file-pdf"></i>
                    &nbsp; colorized_filter</a>
        </li>
      </ul>


      
      <div class="d-flex">
        <ul class="d-flex navbar-nav me-auto mb-2 mb-lg-0"
          style="justify-content: center; align-items: center; gap: 10px">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link disabled" aria-current="page" href="#">{{request.user.name}}</a>
          </li>

          <li class="nav-item dropdown ml-2">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle" height="22" alt="Portrait of a Woman" loading="lazy">
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#">
                  <i class="fa-solid fa-user-astronaut"></i>&nbsp; Dashboard</a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <a class="dropdown-item" href="{% url 'logout' %}">
                  <i class="fa-solid fa-power-off"></i>&nbsp;Logout</a>
              </li>
            </ul>
          </li> 
          {% else %}
          <li class="nav-item">
            <a class="btn btn-outline-light" aria-current="page" href="{% url 'login' %}">
              <i class="fas fa-sign-in-alt"></i>&nbsp;Login</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-light" aria-current="page" href="{% url 'signup' %}">Sign Up</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>