<style>
  .services {
    /* background-color: #1f2d3d; */
    background-color: #1b2a4e;
    color: #e5e9f2 !important;
    padding-bottom: 80px;
    font-family: "Nunito Sans", sans-serif !important;
  }

  .section-title p {
    color: #839ab8 !important;
    /* color: #abaeb5 !important; */
  }
</style>

<section id="services" class="services">
  <div class="container py-3" data-aos="fade-up">
    <div class="section-title mt-5">
      <h2 class="text-center">Get ImaGen and save your time. Coming Soon</h2>
      <p class="text-center">
        Stop wasting time trying to do it the "right way" and build a site from
        scratch. Landkit is faster, easier, and you still have complete control.
      </p>
    </div>

    <div class="row">
      <!-- Item 1-->
      <div
        class="col-md-6 col-lg-3 d-flex text-center align-items-stretch mb-5 mb-lg-0 aos-init aos-animate"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="card border rounded-1 text-dark px-2 py-2">
          <h5 class="title text-dark">
            <a href="#" class="text-dark" style="text-decoration: none"
              >Lorem Ipsum</a
            >
          </h5>
          <p class="description" style="font-size: 13px">
            Voluptatum deleniti atque corrupti quos dolores et quas molestias
            excepturi
          </p>
        </div>
      </div>

       <!-- Item 2 -->
       <div
       class="col-md-6 col-lg-3 d-flex text-center align-items-stretch mb-5 mb-lg-0 aos-init aos-animate"
       data-aos="fade-up"
       data-aos-delay="100"
     >
       <div class="card border rounded-1 text-dark px-2 py-2">
         <h5 class="title text-dark">
           <a href="#" class="text-dark" style="text-decoration: none"
             >Lorem Ipsum</a
           >
         </h5>
         <p class="description" style="font-size: 13px">
           Voluptatum deleniti atque corrupti quos dolores et quas molestias
           excepturi
         </p>
       </div>
     </div>

     
       <!-- Item 3 -->
       <div
       class="col-md-6 col-lg-3 d-flex text-center align-items-stretch mb-5 mb-lg-0 aos-init aos-animate"
       data-aos="fade-up"
       data-aos-delay="100"
     >
       <div class="card border rounded-1 text-dark px-2 py-2">
         <h5 class="title text-dark">
           <a href="#" class="text-dark" style="text-decoration: none"
             >Lorem Ipsum</a
           >
         </h5>
         <p class="description" style="font-size: 13px">
           Voluptatum deleniti atque corrupti quos dolores et quas molestias
           excepturi
         </p>
       </div>
     </div>


     
       <!-- Item 4 -->
       <div
       class="col-md-6 col-lg-3 d-flex text-center align-items-stretch mb-5 mb-lg-0 aos-init aos-animate"
       data-aos="fade-up"
       data-aos-delay="100"
     >
       <div class="card border rounded-1 text-dark px-2 py-2">
         <h5 class="title text-dark">
           <a href="#" class="text-dark" style="text-decoration: none"
             >Lorem Ipsum</a
           >
         </h5>
         <p class="description" style="font-size: 13px">
           Voluptatum deleniti atque corrupti quos dolores et quas molestias
           excepturi
         </p>
       </div>
     </div>

    </div>
  </div>
</section>
