{% load static %}

<style>
  .aqua-gradient {
    transition: box-shadow 0.25s all;
    background: linear-gradient(40deg,#2096ff,#05ffa3) 
  }

  .aqua-gradient:hover {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
  }
</style>
<!-- Subscribe Section -->
<section class="footer border-top border-bottom pt-5 pb-4 pb-lg-5" style="background: linear-gradient(40deg,#2096ff,#05ffa3) !important;">
  <div class="container text-center pt-2 pt-md-4 pt-lg-5 pb-xl-3">
    <div class="row justify-content-center pt-xxl-2">
      <div class="col-xl-6 col-lg-7 col-md-9 col-sm-11">
        <h2 class="h1 pb-3 mb-3">Subscribe to Our Newsletter</h2>
        <form
          class="subscription-form position-relative validate"
          action="https://studio.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;amp;id=29ca296126"
          method="post"
          name="mc-embedded-subscribe-form"
          target="_blank"
          novalidate=""
        >
          <div class="d-flex flex-column flex-sm-row">
            <div class="position-relative w-100 mb-3 mb-sm-0 me-sm-3">
              <input
                class="form-control form-control-lg ps-5 rounded-1"
                type="email"
                name="EMAIL"
                placeholder="Your email"
                required=""
              />

              <i
                class="fa-solid fa-paper-plane fs-xl text-muted position-absolute top-50 start-0 translate-middle-y ms-3"
              ></i>
            </div>
            <button
              class="btn btn-primary rounded-1 shadow-primary btn-lg aqua-gradient"
              type="submit"
              name="subscribe"
              
            >
              Subscribe*
            </button>
          </div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
          <div style="position: absolute; left: -5000px" aria-hidden="true">
            <input
              class="subscription-form-antispam"
              type="text"
              name="b_c7103e2c981361a6639545bd5_29ca296126"
              tabindex="-1"
            />
          </div>
          <p class="mt-4 mb-0">
            *Enjoy using <b>ImaGen</b> and stay tuned for the latest updates
            and news.
          </p>
          <div
            class="subscription-status position-absolute top-100 start-50 translate-middle-x"
          ></div>
        </form>
      </div>
    </div>
  </div>
</section>
