{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Dashboard {% endblock %}
{% block content %}
 

<div class="container mt-3 mb-5 position-relative ">
  <!-- Toast Message Popup -->
  <div class="toast hide position-absolute end-0 fixed " id="toast" style="background-color: #e9fff7;">
    <div class="toast-header">
      <strong class="me-auto">ImaGen</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
    </div>
    <div class="toast-body">
      <p class="fw-bold text-success" id="toastMsg" >
      </p>
    </div>
  </div>

  <!-- Left section -->
  <div class="row d-flex align-center">
    <div class="col-lg-3">
      <div class="row">
        <div class="d-flex flex-column flex-shrink-0 p-3 "  >
          <div class="d-flex align-items-center g-3">
            <div class="col-lg-4">
              <img src="{{ user.photo.url }}" alt="" width="100px" height="100px"
              class="rounded-circle shadow-sm" style="object-fit: cover; object-position: center;" id="userImage"/>
            </div>
            <div class="col-lg-8 ms-3">
              <a href="{{  user.url }}" class="fs-3 fw-bold text-dark">{{ user.name | title }}</a>
              <p class="text-light-dark">
                {{user.email}}
              </p>
            </div>
          </div>
          <hr />
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
              <a href="#" class="nav-link text-dark" aria-current="page" style="background-color:#D9E2EC"
              id="profileBtn">
              <i class="fa-solid fa-user-astronaut"></i> &nbsp;Public Profile
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-dark" aria-current="page" id="accountBtn">
              <i class="fa-solid fa-gear"></i> &nbsp;Account
            </a>
          </li>
        </ul>
        <hr />
      </div>
    </div>
  </div>
  <!-- end Left section -->
  
  <!-- Right section -->
  <div class="col-lg-9"> 
    <div class="row p-3">

      <!-- Public Profile Section -->
      <div class="row fade show" style="display: block" id="profile">
        <h4>Public Profile</h4>
        <hr />
        <form id="updateProfile" enctype="multipart/form-data">
          {% csrf_token %}
          <!-- Name -->
          <div class="mb-3">
            <label for="nameInput" class="form-label"> Name </label>
            <input type="text" class="form-control" id="nameInput" aria-describedby="nameHelp" value="{{ user.name }}" name="name"/>
            <div id="nameHelp" class="form-text">
              Your name may appear around ImaGen where you show or are mentioned.
              You can remove it at any time.
            </div>
          </div>

          <!-- Photo -->
          <div class="mb-3">
            <label for="imageInput" class="form-label"> Photo </label>
            <input type="file" class="form-control" id="imageInput" aria-describedby="imageHelp" value="{{ user.name }}" name="image"/>
            <div id="imageHelp" class="form-text">
              Your profile photo.
            </div>
          </div>



          <!-- Email -->
          <div class="mb-3">
            <label for="emailInput" class="form-label"> Email </label>
            <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp"
            value="{{ user.email }}" readonly disabled />
            <div id="emailHelp" class="form-text">
              You have set your email address to private. To toggle email privacy,
              go to email settings and uncheck "Keep my email address private."
            </div>
          </div>

          <!-- Bio -->
          <div class="mb-3">
            <label for="bioInput" class="form-label"> Bio </label>
            <input type="text" class="form-control" id="bioInput" aria-describedby="bioHelp" value="{{user.bio}}" name="bio"/>
            <div id="bioHelp" class="form-text">
              You can @mention other users and organizations to link to them.
            </div>
          </div>

          <!-- Portfolio -->
          <div class="mb-3">
            <label for="portfolioInput" class="form-label"> Portfolio URL </label>
            <input type="text" class="form-control" id="bioInput" aria-describedby="portfolioHelp" value="{{user.url}}" name="url" />
            <div id="portfolioHelp" class="form-text"></div>
          </div>

          <!-- Location -->
          <div class="mb-3">
            <label for="locationInput" class="form-label"> Location </label>
            <input type="text" class="form-control" id="locationInput" aria-describedby="locationHelp"
            value="{{user.location}}" name="location"/>
            <div id="locationHelp" class="form-text"></div>
          </div>

          <button type="submit" class="btn btn-success  fw-bold rounded-1">
            Update Profile
          </button>
          <a  href="{% url 'home' %}" class="btn btn-light">
            Cancel
          </a>
        </form>
      </div>

      <!-- Account Section -->
      <div class="row fade show" style="display: none" id="account">
        <form action="{% url 'delete_account' %}" method="POST">
          {% csrf_token %}
          <h4 class="text-danger fw-bold">Delete Account</h4>
          <hr />
          <p class="text-dark">
            Once you delete your account, there is <b>no going back</b>. Please be
            certain.
          </p>
          <button class="btn  btn-danger mt-3 rounded-1" type="submit">
            I'm Sure, Delete My Account!
          </button>
        </form>
      </div>

    </div>
  </div>
  <!-- end Right section -->

</div>
 
 
{% endblock %} 


{% block javascript %}
  <script>
   

    $(document).ready(() => {
      
     
      // profile
      $("#profileBtn").click(function () {
        $("#profile").css("display", "block");
        $("#account").css("display", "none");
        $("#profileBtn").css("background-color", "#D9E2EC");
        $("#accountBtn").css("background-color", "unset");
      });

      // account
      $("#accountBtn").click(function () {
        $("#profile").css("display", "none");
        $("#account").css("display", "block");
        $("#accountBtn").css("background-color", "#D9E2EC");
        $("#profileBtn").css("background-color", "unset");
      });


      // update profile
      $("#updateProfile").submit(function (e) {
      e.preventDefault();
      // var serializedData = $(this).serialize();
      var serializedData = new FormData(this);
      $.ajax({

          type: 'POST',
          url: "{% url 'update_profile' %}",
          data: serializedData,
          cache:false,
          contentType: false,
          processData: false,

          success: function (response) {
            
            $("#toast").removeClass('hide');
            $("#toast").addClass('show');
            $("#toastMsg").html(response['messages']);
            $("#userImage").attr("src",  response['image_url']);

          },

          error: function (response) {
              alert(response);
          }

        });
      })
    });
  </script>
{% endblock %}