{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Image Filter {% endblock %}
{% block content %}

<div class="row">
    <div class="col-6">
        <div class="card border rounded p-3">
            <form action="{% url 'image_filter' %}" method="POST" enctype="multipart/form-data">
                <h3 class="text mx-auto">Image Filter <span class="font-weight-bold"></span>{{action|title}}</h3>
                {% csrf_token %}
                {{form|crispy}}
                <button class="btn btn-success w-100 btn-lg" type="submit"><i class="fa-sharp fa-solid fa-images"></i>
                    Apply Filter</button>
            </form>
        </div>
    </div>
    <div class="col-6">
        {% if uploaded_file_url %}
        <div class="card border rounded ">
            <img style="height: 300px;" src="{{ uploaded_file_url }}" alt="download image">
            <div class="p-2 mt-2">
                
                <a class="btn btn-dark w-100 btn-lg" href="{{ uploaded_file_url }}" download><i
                      class="fa-solid fa-download"></i> &nbsp; Download </a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
 

{% endblock %}
{% block jsscript %}
<script>
    let action = "{{action|upper}}";
    $( document ).ready(function() {
         $("#id_filter").val(action);
    });
</script>
{% endblock %}