{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Remove Background From Image {% endblock %}
{% block content %}

<!-- Remove Background From Image -->
<div class="container my-5">
    <div class="row g-3">
        <div class="col-12 col-sm-12 col-md-6">
            <div class="card border-1 rounded p-3">
                <form action="{% url 'image_removebg' %}" method="POST" enctype="multipart/form-data">
                    <h3 class="text-center mx-auto">Remove Background Image</h3>
                    {% csrf_token %}
                    {{form|crispy}}
                    <button class="btn btn-success w-100 btn-lg" type="submit">
                        <i class="fa-solid fa-magic"></i>&nbsp;
                        Remove Background</button>
                </form>
            </div>
        </div>
        <style>
        .transparency-grid {
                background-color: #fff;
                background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA3LjkzNyA3LjkzOCIgaGVpZ2h0PSIzMCIgd2lkdGg9IjMwIj48cGF0aCBwYWludC1vcmRlcj0ic3Ryb2tlIGZpbGwgbWFya2VycyIgZD0iTS4wMTQuMDE0SDMuOTdWMy45N0guMDE0ek0zLjk3IDMuOTY4aDMuOTU0djMuOTU1SDMuOTd6IiBmaWxsPSIjZWVlZmYwIi8+PC9zdmc+");
                background-size: 25px;
        }
        </style>
             
        <div class="col-12 col-sm-12 col-md-6">
            <div class="row ms-2">
                <div class="card border-0 p-0 shadow-sm" style="width: 500px; height:300px; overflow:hidden;" id="imgPreviewBlock">
                    <img id="imgPreview" alt="Preview Image" style="width:100%;">
                </div>
                {% if uploaded_file_url %}
                <div class="card border-1 p-0 shadow-sm" id="downloadImage">
                    <img src="{{ uploaded_file_url }}" style="max-height: 50vh;" class="img-fluid transparency-grid card-img-top" ondragstart="return false;" data-hj-suppress="true" data-v-1ab68894="" alt="download image">
                    <div class="card-body">
                        <a class="btn btn-dark w-100 btn-lg" href="/media/{{ img_name }}" download>
                            <i class="fa-solid fa-download"></i> &nbsp;
                            Download
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascript %}
<script>

    $(document).ready(() => {
        $("#imgPreviewBlock").css("display", "none");

        // image preview
        $('#id_image').change(function () {
            const file = this.files[0];
            if (file) {
                let reader = new FileReader();
                reader.onload = function (event) {
                    $('#imgPreview').attr('src', event.target.result);
                    $("#imgPreviewBlock").css("display", "block");
                    $("#downloadImage").css("display", "none");
                }
                reader.readAsDataURL(file);
            }
        });

    });
</script>
{% endblock %}