{% extends 'base.html' %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% block title %} ImaGen {% endblock %} 
{% block content %}
<style>
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;900&family=Nunito:wght@300;400;500;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");
</style>

{% include 'core/hero1.html' %} 
{% include 'core/feature.html' %} 
{% include 'core/hero3.html' %} 
{% include 'core/footer.html' %} 



{% endblock %}
{% block javascript %}
<script>
  $(document).ready(function () {
    $(".card").hover(
      function () {
        $(this).addClass("shadow-lg mt-1").css("cursor", "pointer");
      },
      function () {
        $(this).removeClass("shadow-lg mt-1");
      }
    );

    // Initialize tooltips
    var tooltipTriggerList = [].slice.call(
      document.querySelectorAll('[data-bs-toggle="tooltip"]')
    );
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl);
    });
  });
</script>
{% endblock %}
