{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mx-auto px-20">

{{ msg }}
<div class="w-full max-w-7xl mx-auto px-4">
<form action="{% url 'imagenapp:home' %}" method="POST" enctype="multipart/form-data">  
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="submit">
</form>
</div>
<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 ">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    S. No.
                </th>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Filter
                </th>
                
                <th scope="col" class="px-6 py-3">
                    Date/Time
                </th>
                <th scope="col" class="px-6 py-3">
                    View
                </th>
                <th scope="col" class="px-6 py-3">
                    Download
                </th>
            </tr>
        </thead>
        <tbody>
            {% for img in images %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ forloop.counter }}
                </th>
                <td class="px-6 py-4">
                    {{ img.name }}
                </td>
                <td class="px-6 py-4">
                    {{ img.action }}
                </td>
                <td class="px-6 py-4">
                    {{ img.updated }}
                </td>
                <td class="px-6 py-4">
                    <img width="100px" src="{{ img.image.url }}" alt="{{ img.name }}">
                </td>
                <td class="px-6 py-4">
                    <a 
                    href="{{ img.image.url }}" download
                    class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                        Download
                    </a>
                </td>
            </tr>
            {% endfor %}
             
             
        </tbody>
    </table>
</div>

</div>
 
{% endblock %}