{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Profile {% endblock %}
{% block content %}

<div class="container mt-2 mb-5">
  <div class="row">
    <div class="col-lg-4">
      <div class="card border-1 rounded-1   py-2 px-3 shadow-sm " style="background-color: #1c1c28; color: #474E68">
        <img src="{{user.photo.url }}" alt="" width="200px" height="200px" class="m-auto shadow-sm rounded-circle" style="object-fit: cover; object-position: center;">
        <div class="card-body">
          <h4 class="text-light"> {{ user.name | title }}</h4>
          <h5>{{ user.username }}</h5>
          <p class="card-text " style="color: #00C7E6 !important;">
            <i class="fa-solid fa-at"></i>
            {{ user.email }}
          </p>
          <p class="card-text" style="color: #ABF5D1;">
            <i class="fa-solid fa-circle-info"></i>
            {{ user.bio }}
          </p>
          <p class="card-text" style="color: #ABF5D1;">
            <i class="fa-solid fa-link"></i>
            <a href="{{ user.url }}" class=" text-decoration-none text-decoration-hover"style="color: #ABF5D1;"> Portfolio</a>
          </p>
          <p class="card-text"style="color: #ABF5D1;"><i class="fa-solid fa-location-dot"></i>
            {{ user.location }}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-8">

    </div>
  </div>
</div>

{% endblock %}