{% extends 'base.html' %}
{% block title %} Signup {% endblock %}
{% block content %}
{% load static %}
{% load socialaccount %}
<style>
  .divider:after,
  .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
  }

  .h-custom {
    height: calc(100% - 73px);
  }

  @media (max-width: 450px) {
    .h-custom {
      height: 100%;
    }
  }
</style>
{% load crispy_forms_tags %}
<div class="form-signin card rounded border m-5">

  <section class="w-100px p-3">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="{% static 'images/signup.png' %}"  class="img-fluid"
            alt="Signup">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form action="{% url 'signup' %}" method="POST" autocomplete="off">
            {% csrf_token %}
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
              <p class="lead fw-normal mb-0 me-3">Signup in with</p>
              <a href="{% provider_login_url 'google' %}" >
                <img src="{% static 'logos/glogo.png' %}" alt="Google Logo" width="36px">
              </a>
            </div>

            <div class="divider d-flex align-items-center my-1">
              <p class="text-center fw-bold mx-3 mb-0">Or</p>
            </div>

            {{ form|crispy }}

            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                Signup
              </button>
              <p class="small fw-bold mt-2 pt-1 mb-0">
                Already have an account? 
                <a href="{% url 'login' %}" class="link-danger">Login</a>
              </p>
            </div>

          </form>
        </div>
      </div>
    </div>

  </section>

</div>
{% endblock %}



{% block javascript %}
  <script>
   

    $(document).ready(() => {

      // check username
      $("#id_username").keyup(function () {
      var username = $(this).val();
      if(username!=""){

      $(".username_error").remove();
      
      $.ajax({
          type: 'POST',
          url: "{% url 'check_username' %}",
          data:{username:username},
          success: function (response) {
            if(response=="True"){
              $("#formerror").remove();
              $("<span class='username_error' style='padding: 5px;color: red;font-weight: bold; transition: 0.25s all;'>Username Not Available</span>").insertAfter("#id_username");
              }
              else{
                $("#formerror").remove();
                $("<span class='username_error' style='padding: 5px;color: green;font-weight: bold; transition: 0.25s all;'>Username  Available</span>").insertAfter("#id_username");
              }

          },

          error: function (response) {
            console.log(response)
          }

        });

      }else{
        $(".username_error").remove();
        }
      })

      // check email
      $("#id_email").keyup(function () {
      var email = $(this).val();
      if(email!=""){

        $(".email_error").remove();
      
      $.ajax({
          type: 'POST',
          url: "{% url 'check_email' %}",
          data: {email:email},
          success: function (response) {
            if(response=="True"){
              $("#formerror").remove();
              $("<span class='email_error' style='padding: 5px;color: red;font-weight: bold; transition: 0.25s all;'>Email Not Available</span>").insertAfter("#id_email");
              }
              else{
                $("#formerror").remove();
                $("<span class='email_error' style='padding: 5px;color: green;font-weight: bold; transition: 0.25s all;'>Email  Available</span>").insertAfter("#id_email");
              }

          },

          error: function (response) {
            console.log(response)
          }

        });

      }else{
          $(".email_error").remove();
        }
      })

    });
  </script>
{% endblock %}